@media(max-width: 991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home .home-container .home-display .content{
        margin-top: 5rem;
    }

    .send .container .content{
        padding-top: 2rem;
    }
}

@media(max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,0.3);
        border-bottom: .1rem solid rgba(0,0,0,0.3);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }

    

    .send .container .image img{
        width: 100%;
    }

}

@media(max-width: 450px){
    html{
        font-size: 50%;
    }
}